.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #06418a;
}
.KCreatures {
  width: 700px;
  height: 500px;
  overflow: hidden;
  margin-left: 2.8cm;
  margin-top: -2.5cm;
}
.Khumans {
  width: 300px;
  height: 300px;
}
